
# default forge gitignore
eclipse
bin*
.launch
.settings
.metadata
.classpath
.project
idea
out*
.ipr*
.iws*
.iml
.idea
build
.gradle
#

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear


org.*
bin

#idea
*.iml
*.ipr
*.iws
*.eml
out

#runtime
run

#mac
.DS_Store
*.command

#linux
*~

#workspace
asm/**
config/**
crash-reports/**
minetweaker.log
logs/**
saves/**

/server.properties
*.psd
classes
extras/**
